{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'landingPage.css' %}">
{% endblock %}
{% block content %}
<div class="col-lg-12; containerLandingPage ">
    <div class="col-lg-6; sisiKiri">
        <div class="name">
            <p class="words">
                Do you mind telling us
                <span id="yourName">your name</span>?
            </p>
        </div>
        <div class="addName">
            <form action="home/" method="POST" novalidate>
                {% csrf_token %}
                {{ form }}
                <div class="correct">
                    <input id="correct" type="submit" value="THAT'S CORRECT!">
                </div>
            </form>
        </div>
    </div>
    <div class="sisiKanan;col-lg-6">
        <div class="icon">
            <img id="icon" src="{% static 'icon3.png' %}">
        </div>
    </div>
</div>

{% endblock %}