.containerLandingPage{
    display: flex;
}
.sisiKiri{
    margin-left: 30px;
    margin-top: 60px;
}
.words{
    font-size: 70px;
    font-family: 'Abril Fatface', cursive;
    flex-grow: 4;
    justify-content: center;
}
.yourName{
    color: #8bf59c;
}
.icon{
    display: flex;
    flex-basis: 150px;
    flex-shrink: 0;
    align-self: flex-end;
}
#icon{
    display: flex;
    max-width: 600px;
}
#id_name{
    margin-top: 20px;
    background-color: #cdffce;
    border-radius: 10px;
    resize: none;
    width:400px; 
    max-height: 30px;
    border: none;
}
.correct{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#correct{
    font-family: 'DM Sans', sans-serif;
    border-radius: 46px;
    background-color: #0d130e;
    display: flex;
    color: white;
}