@media only screen and (max-width: 870px) {
    .top{
        background-color: #f8ffd1;
        padding-top: 80px;
    }
    .divIcon{
        display: flex;
        max-width: 95%;
        min-width: 50px;
        width: 90%;
        margin: 0 auto;
    }
    #icon{
        display: none;
    }
    #icon1, #icon2{
        display: flex;
        max-width: 100%;
        min-width: 100px;
        width: 50%;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 871px) {
    .top{
        background-color: #f8ffd1;
        display: flex;
        padding-top: 80px;
    }
    .divIcon{
        display: flex;
        flex-basis: 150px;
        flex-shrink: 0;
        align-self: flex-end;
    }
    #icon1{
        display: none;
    }
    #icon, #icon2{
        display: flex;
        max-width: 100%;
        min-width: 300px;
        width: 90%;
        margin: 0 auto;
    }
}
.home-top{
    flex-grow: 3;
    justify-content: center;
}

#hello{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(36px, 10vw, 100px);
}

#someone{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(40px, 10vw, 100px);
    color: #8bf59c;
}
#slogan{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(14px, 5vw, 36px);
}

#reach{
    margin-top: 20px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(30px, 5vw, 48px);
}

.contact{
    display: flex;
    justify-content: center;
}

#contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 18x;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #cdffce;
    display:inline-block;
    border-radius: 20px;
    text-align: center;
    margin-top: 10px;
}

.container-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.box{
    width: 280px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.box:hover .imgDesign {
    opacity: 0.3;
}

.imgDesign{
    width: 80%;
    height: auto;
    border-radius: 15px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.psyName{
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(14px, 5vw, 30px);
    text-align: center;
    margin-top: 20px;
}

.psyTitle{
    font-family: 'Work Sans', sans-serif;
    font-size: clamp(12px, 5vw, 20px);
    text-align: center;
}


