@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
}

h5 {
    font-size: 18px;
    padding-top: 3px;
}

hr {
    justify-content: center;
}
.toDo_title {
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: clamp(36px, 10vw, 100px);
    padding-top: 30px;
    padding-bottom: 30px;
}

#better {
    text-align:center;
    margin-top: -20px;
    font-size: 18px;
}

.btn {
    background-color:#041607;
    color: white;
    width : 90px;
    height: 50px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#form {
    justify-content: center;
}
.toDo_add{
    border-radius: 100px;
    font-weight: bold;
    border : 2px solid #6faa79;
    box-shadow: 5px 6px 12px #48584b;
    border-style: outset;
    margin-left: 20px;
}

.toDo_add:hover{
    background-color: #CDFFCE;
}
#id_activity{
    background-color: #CDFFCE;
    width : 63vw;
    height: 50px;
    border : 2px solid #6faa79;
    border-radius: 100px;
    border-style: outset;
    text-align: center;
    /* padding :20px; */
    font-size: 16px;
    margin: 4px 2px;
    
    box-shadow: 5px 6px 12px #48584b;
}

.button{
    text-align: center;
}

.toDo_list{
    margin-left: 3vw;
}


/* Hide the browser's default checkbox */
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox */
.checkmark {
    width: 40px;
    height: 40px;
    background-color:  #C5ECF6;
    color:  #C5ECF6;
    border-radius: 20px;
    margin-right: 2vw;
    border-bottom-left-radius: 0px;
  }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
    color:black;
}

/* Style the checkmark/indicator */
.checkmark:after {
    margin-left:3px;
    margin-top:5px;
    width: 10px;
    height: 15px;
    border: solid rgb(7, 17, 155);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
  }

.list{
    background-color: #C5ECF6;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 70vw;
    min-height: 40px;
    border-radius: 18px;
    padding-top: 6px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.quotes{
    text-align:center;
    background-color: #f9f9f9;
    border-radius: 20px;
    /* border: 3px solid #8BF59C; */
    /* border-style: inset; */
    width: 30vw;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    /* background-color: #041607; */
    fill-opacity: 1.5px;
    background-image: url('/static/img/background1.jpg');
    box-shadow: 5px 10px 18px #6b6856;
}

.semangat{
    font-size: 22px;
    text-align: right;
    margin-top: 190px;
    margin-right: 2vw;
}

.foto-pusing{
    width: 370px;
    height: 270px;
    background-image: url('/static/img/healing.png');
    background-size: cover;
    margin-left: -5vw;
    margin-top: 120px;
}