{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block link %}
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'playlist.css' %}" />
{% endblock %}

{% block content %}
<body>

<h1 class="judul1">Play<span class="judul2">list</span> </h1>

<div class="d-flex flex-row bd-highlight mb-3">
    <a href="https://open.spotify.com/track/2IAR0DziHCjSu16gR4ihvy?si=qSEGNx2IQ8CWrgmR1XpY0A"><img src="/static/cover1.png"></a>
    <a href="https://open.spotify.com/track/630DpnzdfjdVqv2yLfPbAX?si=cpGIf49tTBKwggHEXd0nmg"><img src="/static/cover2.png"></a>
    <a href="https://open.spotify.com/track/45PxuJqJBnPXZKLxoo9Apj?si=yG6D5RFWSXeMQePyIQQrew"><img src="/static/cover3.png"></a>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="titles">
    <div> &nbsp;  &nbsp; Nothing &nbsp;  &nbsp;  &nbsp; &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; Bertaut &nbsp;  &nbsp;  &nbsp; </div>
    <div> &nbsp;  &nbsp; Superposition</div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="artists">
    <div> &nbsp;  &nbsp; &nbsp; Bruno Major &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; Nadin Amizah &nbsp;  &nbsp;  &nbsp; &nbsp;</div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Daniel Caesar </div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="secondrow">
    <a href="https://open.spotify.com/track/4EWBhKf1fOFnyMtUzACXEc?si=mS_Faf80RmO0uc3Vw2zIsg"><img src="/static/cover4.png"></a>
    <a href="https://open.spotify.com/track/6aDyiU2cVrqh33UEnEo3WA?si=cbf64bvCSLCtjn14BiS0EA"><img src="/static/cover5.png"></a>
    <a href="https://open.spotify.com/track/4ZG4aqyBvKk3V3yZBoLToK?si=wqsy4nUsQVio9rZfWOwnmg"><img src="/static/cover6.png"></a>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="titles2">
    <div>  Pluto Projector  &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; 6/10 &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp;  &nbsp; &nbsp; Sulung </div>
</div>

<div class="d-flex flex-row bd-highlight mb-3" id="artists2">
    <div> &nbsp;  Rex Orange County &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;  </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; Dodie &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; </div>
    <div> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; Kunto Aji </div>
</div>

<h3 id="judulTambahKomen">What do you think of the playlist?</h3>


<div class="flex-container" id="formrow2">
    <div class="addName">
        <form action="/playlist/" method="POST">
            {% csrf_token %}
            <h3 class="tambahKomen">Name:</h3>
            {{ form.name }}
            <h3 class="tambahKomen">Comment:</h3>
            {{ form.comment }}
            <button class="btn rounded-pill">Submit</button>
        </form>
    </div>
</div>

<h3 class="judulKomen">Comments</h3>

<div class="row">
        {% for comment in comments %}
            <div class="card quotes">
                    <div class="card-body">
                        <h5 class="card-title"><i>{{ comment.comment }}</h5>
                        <p class="card-text"><hr>{{ comment.name }}</p>
                    </div>
                {% endfor %}
                </div>
            </div>
</div>

</body>
{% endblock content %}
