{% extends 'base.html' %}
{% load static %}
{% block title %}{{ section.title }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/quotesgen.css' %}" />
<div class=default >
    <h1 class="title2" style="text-align: center;"> <span>Quotes</span></h1>
    <h1 class="title3 "style="text-align: center; line-height: 1vw;"> for you today.</h1>
</div>

<div class="container">
    <div class="center">
        <form method="POST" action="">
            <button type="submit" value="Submit" class="button3">GENERATE</button>
            {% csrf_token %}
        </form>
    </div>
</div>
<div id="quotes" style="margin-top: 1vw;">
    <div class="center2">
        <p style="text-align: center;" >{{ quotefinal }}</p>
    </div>
</div>

<div class=show-on-mobile>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="lottie" src="https://assets1.lottiefiles.com/private_files/lf30_emydabyz.json" mode="bounce" background="transparent"  speed="0.5"  style="width:100%"  loop  autoplay></lottie-player>
</div>
{% endblock %}