{% extends 'base.html' %}
{% block content %}

<div class="container py-4">
    <h1 class="toDo_title">Things <span>to-do</span></h1>
    <p id="better"><i>that make you <strong>feel better</strong></i></p>
    
    <Form method="POST" class="row my-5" id="form">
        {% csrf_token %}
        <div class="toDo_insert">
            {{ form.activity }}
        </div>
        <button type="submit" class="btn toDo_add">Add</button>
    </Form>

    <hr>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mt-4" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}

    <div class="toDo_list">
        <div class="flex-container">
            <div class="btn-group-toggle " data-toggle="buttons">
                <label class="btn checkmark active">
                    <input type="checkbox" checked><span class = "checkmark"></span>
                </label>
            </div>   
            <div class="card list">
                <h5 class="activity col-10">tidur</h5>   
            </div>
        </div>
        {% for activity in activities %}
        <div class="flex-container">
            <div class="btn-group-toggle " data-toggle="buttons">
                <label class="btn checkmark active">
                    <input type="checkbox"><span class = "checkmark"></span>
                </label>
            </div>   
            <div class="card list">
                <h5 class="activity col-10">{{ activity.activity }}</h5>   
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="card quotes">
        <div class="card-body">
          <h5 class="card-title"><i>"Part of the <strong>healing</strong> process is 
                <strong>sharing</strong> with other people who care"</i></h5>
          <p class="card-text"><hr>- Jerry Cantrell -</p>
        </div>
    </div>

    <div class ="row">
        <div class="col-lg-6">
            <div class="foto-pusing"></div>
        </div>
        <div class="col-lg-6">                    
            <div class="semangat">
                <p>Have a wonderful day !
                    <!-- <br><b> {{name}} </b>! -->
                </p>
            </div>
        </div>
    </div>
    
</div>

{% endblock content %}