/* Judul Tulisan Playlist */

body {
    background-image: url('/static/background.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.judul1 {
    top: 10vw;
    position: absolute;
    width:85%;
    text-align:center;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 7.274615384615384vw;
    /* or 113px */
    color: #141414;
}

span.judul2 {
    position: absolute;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 7.274615384615384vw;
    /* or 113px */
    color: #8BF59C;    
}

#judulform {
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    width:100%;
    text-align:center;
}

.flex-container {
    position: absolute;
    top: 78vw;
    justify-content: center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
    margin: auto;
}

.d-flex {
    position: absolute;
    top: 20vw;
    left: 18vw;
}

#titles {
    top: 40vw;
    left: 20vw;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 3.0vw;
}


#titles2 {
    top: 68vw;
    left: 17vw;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 3.0vw;
}

#artists {
    top: 45vw;
    left: 20vw;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
}

#artists2 {
    top: 73vw;
    left: 20vw;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5vw;
}

#secondrow {
    position: absolute;
    top: 48vw;
    left: 18vw;
}

img {
    max-width: 20vw;
    max-height: 20vw;
    padding: 1rem;
}

.correct{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

form {
    width: 100%;
    height: 4vw;
    margin: auto;
    position: relative;
   }

input {
    width: 50%;
}

#judulTambahKomen {
    top: 85vw;
    position: absolute;
    width:100%;
    text-align:center;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    /* or 113px */
    color: #141414;
}

#tambahKomen {
    top: 85vw;
    position: absolute;
    width:100%;
    text-align:center;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 4vw;
    /* or 113px */
    color: #141414;
}

#flex1 {
    top: 73vw;
    left: 17vw;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 3.0vw;
}
.komen-reviewer {
    font-size: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    color: #000000;
    bottom: 0;  
}

.komen-textfield{
    position: absolute;
    width: 75%;
    height: 250px;
    

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;

    color: #000000;

    /* border: 2px solid red; */
}

.komen-nama{
    position: absolute;
    width: 75%;
    height: 95px;
    bottom: 0;
    right: 0;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    margin-right: 20px;

    color: #000000;
    /* border: 2px solid blue; */
}

.kananin{
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

#formrow2 {
    top: 95vw;
    align-items: center; /* NEW */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 33vw;
    margin-top: 0vw;
}

#formrow3 {
    top: 110vw;
    align-items: center; /* NEW */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin: 50px;
}

.box div {
    width: 100px;
    height: 100px;
  }

.flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.judulKomen {
    top: 135vw;
    position: absolute;
    width:100%;
    text-align:center;
    font-family: Abril Fatface;
    font-style: normal;
    font-weight: normal;
    font-size: 5vw;
    /* or 113px */
    color: #141414;
}

.row {
    top: 140vw;
    position: absolute;
    width:100%;
}