@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
    font-family: 'Abril Fatface', cursive;
    background-color: #f9f9f9;
}
.title2 {
    color:#253031;
}
span {
    color: #8BF59C;
}