@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
<<<<<<< HEAD

body {
    font-family: 'Abril Fatface', cursive;
=======
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;1,300&display=swap');

html {
    scroll-behavior: smooth;
}

html, body{
    width:100%;
    overflow-x:hidden;
}

body {
    font-family: 'Work Sans', sans-serif;
>>>>>>> 0555e02b0b4d04ed07125449cf7d254df8ec1598
    background-color: #f9f9f9;
}
.title2 {
    color:#253031;
<<<<<<< HEAD
}
span {
    color: #8BF59C;
}
=======
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(50px, 8vw, 90px);
}
span {
    color: #8BF59C;
}
.title3 {
    color:#253031;
    font-family: 'Abril Fatface', cursive;
    font-size: clamp(36px, 5vw, 90px);
}
>>>>>>> 0555e02b0b4d04ed07125449cf7d254df8ec1598
