@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat';
}

.toDo_title {
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 50pt;
}

/* .container {
    text-align: center;
} */

.btn {
    background-color: #CDFFCE;
    color: black;
    width : 90px;
    height: 50px;
    /* padding: 20px; */
    text-align: center;
    /* text-decoration: none;
    display: inline-block; */
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

#form {
    margin-left : 7vw;
}
.toDo_add{
    border-radius: 100px;
    border: 1px solid black;
    border-color: black;
}

#id_activity{
    background-color: #CDFFCE;
    width : 60vw;
    height: 50px;
    border : 1px solid black;
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 10px;
    /* cursor: pointer; */
}

.button{
    text-align: center;
}

.toDo_list{
    margin-left: 2vw;
}

.toDo_check {
    width: 40px;
    height: 40px;
    background-color:  #C5ECF6;
    color:  #C5ECF6;
    border-radius: 20px;
    margin-right: 2vw;
    border-bottom-left-radius: 0px;
    /* padding-bottom: 5px; */
  }

  .toDo_check:hover {
    color:black;
  }

.list{
    background-color: #C5ECF6;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 72vw;
    min-height: 40px;
    border-radius: 20px;
    padding-top: 6px;
}

h5 {
    font-size: 18px;
    /* width: 72vw; */
    padding-top: 3px;
}

/* h5.activity{
    width: 72vw;
} */
.flex-container {
    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
}

.col-lg-6{
    width: 100vw;
}
.semangat{
    font-size: 22px;
    text-align: right;
    margin-top: 150px;
    margin-right: 45px;
}

.foto-pusing{
    width: 370px;
    height: 270px;
    background-image: url('/static/img/pusing.png');
    background-size: cover;
    margin-left: -12vw;
    margin-top: 70px;
}

@media only screen and (max-width:620px) {
    /* For mobile phones: */
    #form, .toDo_list, .col {
      width:100%;
    }
}